@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@config "../tailwind.config.ts";


:root {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
}

body {
   @apply bg-slate-950;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Плавні переходи для всіх елементів */
* {
  @apply transition-colors duration-200;
}

/* Кастомні стилі для скролбару в стилі LoL */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full border-2 border-slate-950;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-600;
}